
Downloads
.fehlog
.gnome
.pki
.ssh
.bash_history
.bash_logout
.cache
.local
.moc
.fehbg
.config/chromium/*
.config/dconf/*
.config/enchant/*
.config/gedit/*
.config/gtk-2.0/*
.config/Atom/
.config/google-chrome/
.config/mopidy/
.config/pulse/
.config/xmms2/
.config/gtk-3.0/
.gtkrc-2.0
.mpd/
.ncmpcpp/
.gitconfig
.esd_auth
.nanobox
.themes
*.swp
.vim/.netrwhist
.viminfo
.wget*
.Xauthority
Projects/*
.config/VirtualBox/
.config/ranger/
.gem
.vagrant.d/
Music/*
VirtualBox VMs/*
user.yaml
.config/menus/*
Music
Images
AUR
.icons
.java
.ftblauncher
.atom
